{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <p>There are {{ x }} blog posts in your blog.</p>

    {% for object in object_list %}
        <div class="panel panel-default">
            <div class="panel-heading"><a
                    href="{% url "post" object.id %}"><b>{{ object.title }}</b></a>
            </div>
            <div class="panel-body">
                {{ object.content|linebreaks }}
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block content_wanted %}

    <p>There are {{ y }} positions in your site.</p>

    {% for obj in object_wanted_list %}
        <div class="panel panel-default">
            <div class="panel-heading"><a href="{% url "wanted" obj.id %}"><b>{{obj.position}}</b></a>
            </div>
            <div class="panel-body">
                {{obj.company}}
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block spend %}

    <ul class="col-md-3 list-group">
      <li class="list-group-item">
        <span class="badge glyphicon glyphicon-euro">{{spend_sum.cost__sum}}</span>
        total money you spend
      </li>
    </ul>

    {% for obj in object_spend_list %}
        <div class="panel panel-default">
            <div class="panel-heading"><a href="{% url "wanted" obj.id %}"><b>{{obj.name}}</b></a>
            </div>
            <div class="panel-body">
                <span class="glyphicon glyphicon-euro">{{obj.cost}}</span> at {{obj.pay_date}}
            </div>
        </div>
    {% endfor %}

{% endblock %}